<ion-content class="ion-padding">
  <ion-toolbar>

    <ion-fab vertical="center" horizontal="start">
      <ion-fab-button>
        <ion-icon routerLink="/dashboard" name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
<h1 class="h1">Ku Chi Tea</h1>
  </ion-toolbar>
  <ion-item-group>

    <ion-card>
      <ion-card-header>
        <ion-card-title>About Us</ion-card-title>
      </ion-card-header>
      <img alt="quesadilla-logo" src="assets/about.jpg">
      <ion-card-content>
        Your Legitimate Taiwanese Craze Milktea Franchise, Ku Chí Tea was founded in 2019 by couple “Kuniko” after their great love for milk tea drinks. The couple had their comprehensive training in Taiwan to bring the authentic taste of Taiwan milk tea to all Filipino milk tea lovers.
      </ion-card-content>
      <ion-card-content>
        Ku Chí Tea is named after the couples name. Our logo is also inspired by their nicknames in Chinese character.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Mission</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        We aim to serve the best Taiwan milk tea products and authentic snacks for customer satisfaction and meeting the highest quality standards.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Vision</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Be the leading milk tea brand in the Philippines.
      </ion-card-content>
    </ion-card>
