<ion-content>
 
  <ion-fab vertical="Top" horizontal="start">
    <ion-fab-button>
      <ion-icon routerLink="/dashboard" name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
<div cards>
  <div class="grid-full">
      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/BARKADA PACK/crispycoatedfries.png" alt="fries-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button (click)="presentAlert()" routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Crispy Coated Fries
            <br> from PHP 199
          </ion-button>
          <p> Straightly cut, crispy seasoned fries, good for 5-6 persons </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/BARKADA PACK/steamedgyoza.png" alt="gyoza-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Steamed Gyoza
            <br> from PHP 159
          </ion-button>
          <p> Barkada Pack with 15 pcs Chinese dumpling filled with ground meat & vegetables </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/BARKADA PACK/premiumsharksfin.png" alt="sharksfin-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Premium Sharksfin 
            <br> from PHP 159
          </ion-button>
          <p> Barkada Pack with 15 pcs Chinese dumpling shaped-like shark fin made from ground meat & mashed shrimp </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/BARKADA PACK/springrollbucket.png" alt="springroll-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Springroll Bucket
            <br> from PHP 159
          </ion-button>
          <p> Barkada Pack with 15 pcs fried Chinese spring roll made with pork and veggies </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/BARKADA PACK/authenticsiomai.png" alt="siomai-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Authentic Siomai 
            <br> from PHP 159
          </ion-button>
          <p> Barkada Pack with 15 pcs pork flavored steamed Chinese pork dumpling </p>
        </ion-card-header>
      </ion-card>
    </div>
  </div>