<ion-content class="ion-padding">
  <ion-fab vertical="Top" horizontal="start">
      <ion-fab-button>
        <ion-icon routerLink="/dashboard" name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

<br>
<br>
<br>

<ion-card-content>
  <ion-card>
    <img src="assets/check.png" alt="sucess">
  </ion-card>

  <ion-card>
    <ion-card-title>Order Succcessfully Placed!</ion-card-title>
    <ion-card>
      <ion-card-subtitle>Thank You for using Food Conncet. Your order has been succesful placed and is being processed.</ion-card-subtitle>
    </ion-card>
  </ion-card>
</ion-card-content>