ion-button {
    --background: #432e2e;
    --background-hover: #432e2e;
    --background-activated:#432e2e ;
    --background-focused: #432e2e;
  
    --color: rgb(248, 248, 249);
  
    --border-radius: 50px;
    --border-color: #fcf8f8;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: rgb(84, 44, 44);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
    }

    ion-fab-button {
        --background: #432e2e;
        --background-activated: #432e2e;
        --background-hover: #432e2e;
        --border-radius: 15px;
        --box-shadow: 0px 1px 2px 0px rgba(245, 242, 242, 0.3), 0px 1px 3px 1px rgba(247, 242, 242, 0.15);
        --color: rgb(250, 247, 247);
      }