<ion-content>
  <ion-content class="ion-padding">
    <ion-toolbar>
     
      <ion-fab vertical="Top" horizontal="start">
        <ion-fab-button>
          <ion-icon routerLink="/dashboard" name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <img src="assets/image5.jpg" alt="logo">
      <ion-item-divider>
        <h1> My Profile </h1>
      </ion-item-divider>
    </ion-toolbar>
    <ion-item-group>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Name</ion-card-title>
          <ion-card-subtitle>Juan Dela Cruz</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Email</ion-card-title>
          <ion-card-subtitle>juandelacruz@gmail.com</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Number</ion-card-title>
          <ion-card-subtitle>(0990) 889 6789</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  
      <ion-tab-bar slot="bottom">
        <ion-button routerLink="/password" float-right>Settings</ion-button>
          <ion-button routerLink="/home"  float-right>Logout</ion-button>
        </ion-tab-bar>