<ion-content class="ion-padding">
  <ion-fab vertical="Top" horizontal="start">
      <ion-fab-button>
        <ion-icon routerLink="/dashboard" name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

<br>
<br>
<br>

  <ion-card>
    <ion-card-header>
  <ion-card-title>Change Password</ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-item>
    <ion-input label="Current Password" type="password" value="password"></ion-input>
  </ion-item>
</ion-card-content>

<ion-card-content>
  <ion-item>
    <ion-input label="New Password" type="password" value="password"></ion-input>
  </ion-item>
</ion-card-content>

<ion-card-content>
  <ion-item>
    <ion-input label="Confirm Password" type="password" value="password"></ion-input>
  </ion-item>
</ion-card-content>

<ion-button routerLink="/profile">Save New Password</ion-button>

</ion-card>