<ion-content>
  <ion-fab vertical="Top" horizontal="start">
    <ion-fab-button>
      <ion-icon routerLink="/dashboard" name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div cards>
    <div class="grid-full">
  <ion-card color="light">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/HOT DRINKS/americano.png" alt="americano-logo"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button routerLink="/shopcart" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Americano
        <br> PHP 95
      </ion-button>
      <p> Espresso with hot water</p>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/HOT DRINKS/whitemochalatte.png" alt="whitemocha-logo"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button routerLink="/shopcart" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> White Mocha Latte
        <br> PHP 125
      </ion-button>
      <p> Made with espresso, steamed milk and chocolate </p>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/HOT DRINKS/caramelcloudmacchiato.png" alt="cloud-logo"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button routerLink="/shopcart" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Caramel Cloud Macchiato
        <br> PHP 125
      </ion-button>
      <p> Caramel flavoured espresso with cream milk </p>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/HOT DRINKS/brownsugarlatte.png" alt="brownsugarlatte-logo"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button routerLink="/shopcart" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Brown Sugar Latte
        <br> PHP 120
      </ion-button>
      <p> Tasty blend of espresso and Taiwans brown sugar </p>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/HOT DRINKS/cappuccino.png" alt="cappucino-logo"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button routerLink="/shopcart" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Cappuccino 
        <br> PHP 109
      </ion-button>
      <p> Single shot espresso with equal milk and foam </p>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col><img src="assets/KU CHI TEA MENU/HOT DRINKS/greentealatte.png" alt="greentealatte"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button routerLink="/shopcart" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Green Tea Latte 
        <br> PHP 120
      </ion-button>
      <p> Green tea latte with milk </p>
    </ion-card-header>
  </ion-card>
</div>
</div>
</ion-content>