<ion-content>
  <ion-fab vertical="Top" horizontal="start">
    <ion-fab-button>
      <ion-icon routerLink="/dashboard" name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<div cards>
  <div class="grid-full">
      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI SNACKS/kuchibeefquesadilla.png" alt="quesadilla-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Ku Chi Beef Quesadilla
            <br> from PHP 149
          </ion-button>
          <p> Mexican-style tortilla loaded with authentic Mexican fillings            </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI SNACKS/siomai.png" alt="siomai-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Siomai
            <br> from PHP 78
          </ion-button>
          <p> 6 Pcs pork flavored steamed Chinese pork dumpling </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI SNACKS/gyoza.png" alt="gyoza-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Gyoza 
            <br> from PHP 78
          </ion-button>
          <p> 6 Pcs Chinese dumpling filled with ground meat & vegetables </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI SNACKS/sfin.png" alt="sfin-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Sfin
            <br> from PHP 78
          </ion-button>
          <p> 6 Pcs Chinese dumpling shaped-like shark fin made from ground meat & mashed shrimp </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI SNACKS/meatyfries.png" alt="meatyfries-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button (click)="presentAlert()" routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Meaty Fries 
            <br> from PHP 159
          </ion-button>
          <p> Seasoned fries loaded with meat & cheese mayo dressing, good for 1-2 persons </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI SNACKS/coatedfries.png" alt="coatedfries-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Coated Fries 
            <br> from PHP 129
          </ion-button>
          <p> Straightly cut, crispy seasoned fries, good for 1-2 persons </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI SNACKS/cheesybeefnachos.png" alt="nachos-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/extras" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Cheesy Beef Nachos 
            <br> from PHP 109
          </ion-button>
          <p> Nachos overloaded with cheese, beef & salsa, good for 1-2 persons </p>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
