
<ion-content>

  <ion-fab vertical="Top" horizontal="start">
    <ion-fab-button>
      <ion-icon routerLink="/dashboard" name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<div cards>
  <div class="grid-full">
      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI PREMIER/kuchibrownsugarcreme.png" alt="brownsugar-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/variations" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Ku Chi Brown Sugar Creme
            <br> from PHP 99
          </ion-button>
          <p> Signatured Kū Chí flavor of milk infused with caramelized brown sugar and cremé (non-tea based) ; Comes with free Kūchí Pearl </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI PREMIER/oreomatchacreme.png" alt="oreomatcha-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/variations" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Oreo Matcha Creme
            <br> from PHP 99
          </ion-button>
          <p> Matcha flavored milk tea infused with oreo & cremé; Comes with free Kūchí Pearl </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI PREMIER/strawberrydevilmouse.png" alt="strawberry-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button (click)="presentAlert()" routerLink="/variations" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Strawberry Devil Mousse
            <br> from PHP 99
          </ion-button>
          <p> Strawberry flavored drink infused with activated charcoal & cremé; Comes with free Kūchí Pearl </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI PREMIER/blackwintermelon.png" alt="bwintermelon-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/variations" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Black Wintermelon
            <br> from PHP 99
          </ion-button>
          <p> Wintermelon flavored drink infused with activated charcoal & cremé (non-tea based); Comes with free Kūchí Pearl </p>
        </ion-card-header>
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col><img src="assets/KU CHI TEA MENU/KU CHI PREMIER/tarocookiecreme.png" alt="taro-logo"></ion-col>
            </ion-row>
          </ion-grid>
          <ion-button routerLink="/variations" fill="clear" color="dark" size="small"><ion-icon name="add-circle" size="large" color="primary"></ion-icon> Taro Cookie Creme 
            <br> from PHP 99
          </ion-button>
          <p> Taro flavored milk tea infused with oreo & cremé; Comes with free Kūchí Pearl</p>
        </ion-card-header>
      </ion-card>
    </div>
  </div>